*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
}
.contenedor{
    width: 34.375em;
    height: auto;
    margin: auto;
    margin-top: 0px;
    border: 1px solid black;
    border-radius: 15% 15% 15% 15%;
    background: rgb(92, 196, 231);
    font-size: 16px;
    padding: 0.625em 1.5625em;
}
.superior{
    display: flex;
    font-size: 1.875em;
    margin-bottom: .5rem;
}
img{
    width: 180px;
    height: 180px;
}
article h3{
    padding: 0.3125rem;
    font-size: 1.4375em;
    color: black;
}